.header {
  color: whitesmoke;
  background-color: #333842;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-button {
  margin: 5px;
  font-size: large;
  color: whitesmoke;
}

.textarea-button {
  margin-top: 5px;
  margin-right: 5px;
  color: whitesmoke;
}

.key-input {
  font-size: medium;
  background-color: whitesmoke;
}
